@page {
    size:auto;
    margin-top: 10px;
}
@media print {
    .new-page {
        page-break-before: always;
    }
}
.border-r {
    border-right: 2px solid #808080;
    padding-left: 2px;
}
body {
    background: #fff !important;
    color: black;
    font-size: 8pt;
    height: inherit !important;
}
.salto_p {
    page-break-after: always;
}
table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th,
table > tr > td,
table > tr > th {
    padding-bottom: 0;
    height: 5mm;
    max-height: 5mm;
}
.tabla2 {
    border-collapse: collapse;
    border: none;
    width: 100%;
    color: #000000;
    font-size: 8pt;
}
.tabla2 thead th, .table2 tbody td {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 8pt;
    vertical-align: top;
    max-height: 5mm;
}
.tabla1 {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 100%;
    font-size: 8pt;
}
.tabla1 tbody tr td,
.tabla1 tbody tr th,
.tabla1 tfoot tr td,
.tabla1 tfoot tr th,
.tabla1 thead tr td,
.tabla1 thead tr th {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 8pt;
    padding-bottom: 0;
    max-height: 5mm;
    vertical-align: top;
}
.table3 {
    border-collapse: collapse;
    border: none;
    width: 100%
}
.table3 tbody tr td,
.table3 tfoot tr th {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 8pt;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    vertical-align: center;
}
.table-bordered {
    border: 1mm solid #ddd;
}
.table {
    border-collapse: collapse !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
}
small {
    font-size: 75%
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700
}

.table td, .table th {
    background-color: #fff !important;
    margin-top: 0;
    margin-bottom: 0;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border: 1px solid #ddd
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-top: 1px solid #ddd;
}

div.hprint {
    width: 100%;
    position: fixed;
    height: 25mm;
    display: block;
}

div.cuerpo {
    width: 100%;
    top: 26mm;
    position: relative;
    page-break-before: always;
}
.text-left {
    text-align: left !important
}
.text-right {
    text-align: right !important
}
.text-center {
    text-align: center !important
}
.v-card {
    border-radius: 4px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    max-width: 100%;
    outline: none;
    text-decoration: none;
    white-space: normal;
}
.v-card-title, .v-card-text {
    padding: 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.0071428571em;
}
.width-80 {
    width: 80%;
}
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    text-indent: initial;
}
colgroup {
    display: table-column-group;
    unicode-bidi: isolate;
}
col {
    display: table-column;
    unicode-bidi: isolate;
}
.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
    height: 32px;
    font-size: 0.75rem;
    padding: 0 16px;
}
.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row), .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row) {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
}
.v-data-table__wrapper > table > tbody > tr > td {
    height: 32px;
    font-size: 0.875rem;
    padding: 0 16px;
}
table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
    font-size: 0.875rem;
    padding: 0 16px;
}
.text-start {
    text-align: start !important;
}
.text-end {
    text-align: end !important;
}
.mt-4 {
    margin-top: 16px !important;
}
.pl-2 {
    padding-left: 8px !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: -12px;
}
.v-badge {
    position: relative;
}
.btn-close {
  display: none !important;
}
.deposito-step {    
  position: absolute;
  top: -8px;
  right: 5px;
  border-radius: 50%;
  background-color: #CA6702;
  color: white;
  height: 21px;
  width: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 0;
}
.v-badge__wrapper {
    flex: 0 1;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.secondary {
    background-color: #CA6702 !important;
    border-color: #CA6702 !important;
}
.v-badge__badge {
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    letter-spacing: 0;
    line-height: 1;
    min-width: 20px;
    padding: 4px 6px;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    text-indent: 0;
    top: auto;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
}
.d-flex {
    display: flex !important;
}
.justify-end {
    justify-content: flex-end !important;
}
.justify-center {
    justify-content: center !important;
}
.centrar-print {
    padding: 20px;
}
.font-weight-medium {
    font-weight: 500 !important;
    font-size: 16px;
}
.mt-4 {
    margin-top: 16px !important;
}
.no-imprimir {
    display: none !important;
}
.col-md-6 {
    flex: 0 0 80%;
    max-width: 80%;
}
.v-text-field--outlined {
    border-radius: 4px;
    position: relative;
}
.v-input {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;
}
.v-input__control {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 0;
    width: 100%;
}
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot {
    padding: 0 12px;
    min-height: 40px;
}
.v-application--is-ltr .v-text-field--outlined fieldset {
    padding-left: 8px;
}
.v-text-field--outlined fieldset {
    border-collapse: collapse;
    border-color: currentColor;
    border-style: solid;
    border-width: 1px;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -5px;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}
.v-application--is-ltr .v-text-field--outlined legend {
    text-align: left;
    line-height: 11px;
    padding: 0;
}
legend {
    border: 0;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
    max-width: 100%;
}
.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    display: flex;
    flex: 1 1 auto;
    position: relative;
}
.v-text-field--outlined .v-text-field__slot, .v-text-field--single-line .v-text-field__slot {
    align-items: center;
}
.v-input {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left;
}
.v-text-field--outlined.v-input--dense .v-label {
    top: 10px;
}
.v-text-field .v-label {
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.v-input .v-label {
    height: 20px;
    line-height: 20px;
    letter-spacing: normal;
}
.caption {
    font-size: 0.75rem !important;
    font-weight: 400;
    letter-spacing: 0.0333333333em !important;
    line-height: 1.25rem;
}